[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow-datasets = "*"
scikit-learn = "*"
pandas = "*"
keras-tuner = "*"
easydict = "*"

[requires]
python_version = "3.11"
